<h1>Menu</h1>
<br>
<br>

<h3>PLJESKAVICE</h3>
<br>
<% @svi_burgeri.each do |jedan_pojedinacan_proizvod|	%>
<p><%= jedan_pojedinacan_proizvod.naziv %>............................<%= jedan_pojedinacan_proizvod.cena %></p>
<% end %>

<br>
<br>


<h3>PALACINKE</h3>
<br>
<% @svi_palacinci.each do |jedan_pojedinacan_proizvod|	%>
<p><%= jedan_pojedinacan_proizvod.naziv %>............................<%= jedan_pojedinacan_proizvod.cena %></p>
<% end %>