* {
	margin: 0; padding: 0;
}
/*******************************
* HEADER HOME
*******************************/
#glava {

	width: 90%;
	height: 70px;
	margin: 10px auto;
	border: 1px solid grey;

}

#glava h1 {

	text-align: center;
	padding-top: 15px;

}

/*******************************
* NAV BAR
*******************************/

#nav {

	width: 95%;
	height: 50px;
	margin: 10px auto;
	border: 1px solid grey;

}

#nav ul {

	text-align: center;
	list-style: none;

}

#nav ul li {

	float: left;
	width: 25%;
	padding-top: 15px;
	
}

/*******************************
* YIELD
*******************************/
.yield{

	min-height: 650px;
}


/*******************************
* FOOTER
*******************************/

#footer {

	width: 100%;
	height: 70px;
	border: 1px solid blue;
	background-color: lightblue;
}


