<div id="footer">
	<div class="colona-20 odstojanje">
		<ul>
			<li style="color: transparent;">.</li>
			<li style="color: transparent;">.</li>
		</ul>
	</div>

	<div class="colona-30 odstojanje">
		<ul>
			<li style="font-weight: bold;">Usluga</li>
			<li>Kolona 1 - Red 1</li>
			<li>Kolona 1 - Red 2</li>
		</ul>
	</div>

	<div class="colona-30 odstojanje">
		<ul>
			<li style="font-weight: bold;">Informacije</li>
			<li>Kolona 2 - Red 1</li>
			<li>Kolona 2 - Red 2</li>
		</ul>
	</div>

	<div class="colona-20 odstojanje">
		<ul>
			<li style="color: transparent;">.</li>
			<li style="color: transparent;">.</li>
		</ul>
	</div>
</div>