<!DOCTYPE html>
<html>
  <head>
    <title>FastFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div id="glava">
		<h1>FAST FOOD</h1>
	</div>

	<div id="nav">
		<nav>
			<ul>
				<li>MENU</li>
				<li>GALLERY</li>
				<li>CONTACT</li>
				<li>ABOUT</li>
			</ul>
		</nav>
	</div>

    <div class="yield">	
    	<%= yield %>
	</div>

    <div id="footer"></div>	

  </body>
</html>
